public-hoist-pattern[]=metro
public-hoist-pattern[]=@expo/metro
public-hoist-pattern[]=@expo/metro-config
public-hoist-pattern[]=@react-native-community/*
# Ensure legacy deep imports keep working in Expo SDK 49
shamefully-hoist=true
node-linker=hoisted
